@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
    --color-brandDark: #131314;
    --color-surface: #1e1f20;
    --color-cream: #FFFDD0;

    --color-primary-50: #eff6ff;
    --color-primary-100: #dbeafe;
    --color-primary-200: #bfdbfe;
    --color-primary-300: #93c5fd;
    --color-primary-400: #60a5fa;
    --color-primary-500: #3b82f6;
    --color-primary-600: #2563eb;
    --color-primary-700: #1d4ed8;
    --color-primary-800: #1e40af;
    --color-primary-900: #1e3a8a;
    --color-primary-950: #172554;

    --color-secondary: #9ca3af;
    --color-accent: #3b82f6;
    --color-light: #ffffff;
}

@layer base {
    body {
        background-color: var(--color-cream);
        @apply text-slate-900 dark:bg-brandDark dark:text-gray-100 transition-colors duration-300;
        font-family: 'Inter', sans-serif;
    }
}